@tailwind base;
@tailwind components;
@tailwind utilities;

html body[data-scroll-locked] {
  @media screen and (max-width: 767px) {
    --removed-body-scroll-bar-size: 0 !important;
    margin-right: 0 !important;
  }
}

/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: 0, 0, 98%;
  border-radius: 60px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #292c6d;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #a0a4ff;
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  .btn-icon {
    @apply text-primary-900 transition-colors duration-300 hover:text-primary-500;
  }

  .btn-primary {
    @apply flex w-full items-center justify-center rounded-[60px] border border-primary-900 bg-primary-900 py-[13px] text-center text-base/none text-gray-50 transition-colors duration-300 hover:border-primary-500 hover:bg-primary-500 disabled:border-gray-300 disabled:bg-gray-300;
  }

  .btn-secondary {
    @apply flex h-[42px] w-full items-center justify-center rounded-[60px] border border-gray-200 bg-background text-center text-[13px]/[15.73px] text-foreground transition-colors duration-300 hover:border-primary-500 hover:bg-primary-500 hover:text-gray-50 disabled:border-gray-300 disabled:bg-gray-300 xl:text-base/none;
  }
}
