@tailwind base;
@tailwind components;
@tailwind utilities;

html body[data-scroll-locked] {
  @media screen and (max-width: 767px) {
    --removed-body-scroll-bar-size: 0 !important;
    margin-right: 0 !important;
  }
}

/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: 0, 0, 98%;
  border-radius: 60px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #292c6d;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #a0a4ff;
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  .btn-icon {
    @apply text-primary-900 transition-colors duration-300 hover:text-primary-500;
  }

  .btn-primary {
    @apply flex h-[42px] w-full items-center justify-center rounded-[60px] border border-primary-900 bg-primary-900 py-[13px] text-center text-base/none text-gray-50 transition-colors duration-300 hover:border-primary-500 hover:bg-primary-500 disabled:border-gray-300 disabled:bg-gray-300;
  }

  .btn-secondary {
    @apply flex h-[42px] w-full items-center justify-center rounded-[60px] border border-gray-200 bg-background text-center text-base/none text-foreground transition-colors duration-300 hover:border-primary-500 hover:bg-primary-500 hover:text-gray-50 disabled:border-gray-300 disabled:bg-gray-300 xl:text-base/none;
  }

  .pagination-list {
    @apply flex items-center gap-0.5;
  }

  .pagination-item {
    @apply flex size-10 items-center justify-center rounded-full bg-background text-sm/[20px] font-medium text-foreground transition-colors duration-300 hover:bg-primary-200;
  }

  .pagination-dots {
    @apply flex size-10 items-center justify-center rounded-full text-sm/[20px] font-medium text-foreground;
  }

  .pagination-active {
    @apply bg-foreground text-background hover:bg-foreground;
  }

  .pagination-btn {
    @apply flex items-center gap-2 text-sm/[20px] font-semibold text-primary-900 transition-colors duration-300 hover:text-primary-600 disabled:cursor-not-allowed disabled:text-gray-400;
  }

  .form-item {
    @apply space-y-1.5 leading-none;
  }
  .form-label {
    @apply text-sm/none font-medium text-gray-950;
  }

  .form-desc {
    @apply text-xs/[16.8px] text-gray-600;
  }
  .form-input {
    @apply h-11 !rounded-[50px] shadow-[0_1px_2px_0_rgba(16,24,40,0.05)];
  }

  .form-textarea {
    @apply h-[182px] rounded-xl;
  }
}
